<div class="page-header">
  <h1>Flightplan Creator</h1>
</div>

<form>
  <div class="row">
    <div class="col-md-9" ng-if="assigned_drone">
      <div>
        <leaflet center="home_location" markers="markers" height="480px" width="100%"></leaflet>
      </div>
    </div>

    <div class="col-md-3 well" ng-if="assigned_drone" >
      <h3>Next Waypoint</h3>
      <div class="form-group">
        <select class="form-control" ng-model="new_objective.action" ng-disabled="!new_waypoint">
          <option value="">Select objective</option>
          <option value="photo">Take Photo</option>
          <option value="relay">Toggle Relay</option>
        </select>
      </div>
      <div class="form-group" ng-if="new_objective.action === 'relay'">
        <select class="form-control" ng-model="new_objective.relay">
          <option value="">Select relay</option>
          <option value="1">Relay 1</option>
          <option value="2">Relay 2</option>
          <option value="2">Relay 3</option>
        </select>
      </div>
      <div class="form-group" ng-if="new_objective.action === 'relay'">
        <input type="number" ng-model="new_objective.duration" placeholder="Duration Seconds" class="form-control">
      </div>
      <div class="form-group">
        <button class="btn btn-primary" ng-disabled="!new_waypoint" ng-click="addWaypoint()">Add Waypoint</button>
      </div>
    </div>

    <div class="col-md-4 well" ng-if="!assigned_drone">
      <h3>Assign Drone</h3>
      <p>Select a drone to create a flight plan.</p>
      <div class="panel panel-default" ng-hide="drones.length > 0"><div class="panel-body"><i>Click on the map to assign emergency location and show available drones.</i></div></div>
      <div class="list-group">
        <div class="list-group-item" ng-repeat="drone in drones" ng-click="selectDrone(drone)">
          <h5>Drone: <b>{{drone.name}}</b></h5>
          <table class="table">
            <tr><td>Mission Distance</td><td>{{MapService.geoDistanceMeters(drone.location, {lat: latitude, lon: longitude})/1000 | number:3 }} km</td></tr>
            <tr><td>Safe Range</td><td>{{MapService.availableReturnRange(drone) | number:3}} km</td></tr>
          </table>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <br>
      <button type="submit" class="btn btn-primary" ng-disabled="!assigned_drone || objectives.length <= 0" ng-click="createFlightPlan()">Create Flight Plan</button>
    </div>
  </div>
</form>