<div class="page-header">
  <h1>
    Drone {{drone.name}} <span class="label label-{{contextualDroneStatus(drone.status)}}">{{drone.status}}</span>
    <a ng-click="editDrone(drone)" class="btn btn-default pull-right"><span class="glyphicon glyphicon-cog"></span> Edit Drone</a>
  </h1>
</div>
<div class="row">

  <div class="col-md-4">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th>Name</th>
          <td>{{drone.name}}</td>
        </tr>
        <tr>
          <th>Battery Level</th>
          <td>{{drone.battery_level | number:1}}</td>
        </tr>
        <tr>
          <th>Current Flight Time</th>
          <td>{{MapService.availableReturnTime(drone) | secondsToDateTime | date:'HH\'h\' mm\'m\' ss\'s\''}}</td>
        </tr>
        <tr>
          <th>Current Range</th>
          <td>{{MapService.availableReturnRange(drone) | number:3}} km</td>
        </tr>
        <tr>
          <th>Speed</th>
          <td>{{drone.speed}} m/s</td>
        </tr>
        <tr>
          <th>Base Station</th>
          <td>{{drone.base_station.name}}</td>
        </tr>
        <tr>
          <th>Status</th>
          <td>{{drone.status}}</td>
        </tr>
        <tr>
          <th>Last Update</th>
          <td>{{drone.updated_at | date:'medium'}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-8">
    <leaflet center="home_location" markers="markers" height="480px" width="100%" decorations="decorations"></leaflet>
  </div>

</div>