<div class="page-header">
  <h1>
    Drones
    <!-- <a href="#/drones/new" class="btn btn-danger pull-right"><span class="glyphicon glyphicon-plus"></span> Add Drone</a> -->
  </h1>
</div>

<div class="row">
  <table class="table table-hover">
    <thead>
      <tr class="">
        <th>Name</th>
        <th>Battery Level</th>
        <th>Current Flight Time</th>
        <th>Current Range</th>
        <th>Speed</th>
        <th>Base Station</th>
        <th>Status</th>
        <th>Last Update</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="drone in drones | orderBy: '-((battery_level / power_usage) * speed)'" ng-click="openDrone(drone)">
        <td>{{drone.name}}</td>
        <td>{{drone.battery_level | number:1}} %</td>
        <td>{{MapService.availableReturnTime(drone) | secondsToDateTime | date:'HH\'h\' mm\'m\' ss\'s\''}}</td>
        <td>{{MapService.availableReturnRange(drone) | number:3}} km</td>
        <td>{{drone.speed}} m/s</td>
        <td>{{drone.base_station.name}}</td>
        <td>{{drone.status}}</td>
        <td>{{drone.updated_at | date:'medium'}}</td>
      </tr>
    </tbody>
  </table>
</div>