<div class="page-header">
  <h1>
    Drone {{drone.name}} <span class="label label-{{contextualDroneStatus(drone.status)}}">{{drone.status}}</span>
  </h1>
</div>
<div class="row">

  <div class="col-md-4">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th>Name</th>
          <td>{{drone.name}}</td>
        </tr>
        <tr>
          <th>Cruise Speed (m/s)</th>
          <td><input type="text" ng-model="editdrone.speed" ng-init="editdrone.speed = drone.speed"></td>
        </tr>
        <tr>
          <th>Base Station</th>
          <td><input type="number" ng-model="editdrone.base_station_id" ng-init="editdrone.base_station_id = drone.base_station_id"></td>
        </tr>
      </tbody>
    </table>
    <a ng-click="saveDrone(editdrone)" class="btn btn-default pull-right"><span class="glyphicon glyphicon-cog"></span> Save Changes</a>
  </div>
</div>