<div class="page-header">
  <h1>New Drone</h1>
</div>

<form ng-submit="addDrone()">
  <div class="row">
    <div class="col-md-12">

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" placeholder="Name" id="name" ng-model="drone.name"></input>
      </div>
      <div class="form-group">
        <label for="power_usage">Average Power Usage (%/s)</label>
        <input type="text" class="form-control" placeholder="Average Power Usage (%/s)" id="power_usage" ng-model="drone.power_usage"></input>
      </div>
      <div class="form-group">
        <label for="speed">Average Speed (m/s)</label>
        <input type="text" class="form-control" placeholder="Average Speed (m/s)" id="speed" ng-model="drone.speed"></input>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create Drone</button>
      </div>
    </div>
  </div>
</form>