<div class="page-header">
  <h1>Drone Dispatch</h1>
</div>

<div>
  <ul>
    <li><a href="#/emergencies">Emergencies</a></li>
    <li><a href="#/drones">Drones</a></li>
    <li><a href="/subscriber#/subscribe">Subscribe</a></li>
  </ul>
</div>