<ion-view view-title="Account Settings">
  <ion-content scroll="false" class="padding has-header">

      <form ng-submit="updateAccount(user)">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Full name</span>
            <input type="text"  placeholder="Full name" ng-model="user.name">
          </label>
          <label class="item item-input">
            <span class="input-label">Cellphone</span>
            <input type="tel" placeholder="Cellphone" ng-model="user.number">
          </label>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive">Save Changes</button>
        </div>
      </form>

  </ion-content>
</ion-view>