<ion-view view-title="Emergency">
  <ion-content scroll="false" class="padding has-header">

    <div class="list">
      <div class="item item-divider">
        Status
      </div>
      <div class="item item-text-wrap">
        {{emergency.status}}
      </div>
    </div>

    <div class="list">
      <div class="item item-divider">
        Emergency Description
      </div>
      <div class="item item-text-wrap">
        {{emergency.description}}
      </div>
      <div class="item item-divider">
        Reported Time
      </div>
      <div class="item item-text-wrap">
        {{emergency.created_at | date: 'short'}}
      </div>
    </div>

  </ion-content>
</ion-view>