<ion-view view-title="Reported Emergencies">
  <ion-content scroll="false" class="padding has-header">

    <ion-item ng-repeat="emergency in emergencies" ng-click="openEmergency(emergency)">
      {{emergency.description}}, {{emergency.created_at | date: 'short'}}
    </ion-item>

  </ion-content>
</ion-view>