<ion-view view-title="Emergency Responder">
  <ion-content scroll="false" class="padding has-header">
    <button class="button button-block button-positive" ng-click="newEmergency('police')">Police!</button>
    <button class="button button-block button-balanced" ng-click="newEmergency('ambulance')">Ambulance!</button>
    <button class="button button-block button-assertive" ng-click="newEmergency('fire')">Fire!</button>
    <button class="button button-block button-dark" ng-click="newEmergency('other')">Help!</button>
  </ion-content>
</ion-view>