<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Reporter</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="js/angular-ios9-uiwebview.patch.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controller.js"></script>
    <script src="js/services.js"></script>
  </head>
  <body ng-app="starter" ng-controller="ReportCtrl">

    <ion-side-menus>

      <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar-stable nav-title-slide-ios7">
          <ion-nav-buttons side="right">
            <button class="button button-icon button-clear ion-navicon" ng-click="toggleMenu()"></button>
          </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view></ion-nav-view>
      </ion-pane>

      <ion-side-menu side="right">
        <ion-header-bar class="bar bar-header bar-light">
          <h1 class="title">Menu</h1>
        </ion-header-bar>

        <ion-content has-header="true" scroll="false">

          <ion-list>
            <ion-item menu-close href="#/">
              <i class="icon ion-home"></i> Home
            </ion-item>
            <ion-item menu-close href="#/account">
              <i class="icon ion-person"></i> Account Settings
            </ion-item>
            <ion-item menu-close href="#/emergencies">
              <i class="icon ion-alert-circled"></i> Emergencies
            </ion-item>
          </ion-list>

        </ion-content>
      </ion-side-menu>

    </ion-side-menus>

    <script id="new-emergency.html" type="text/ng-template">
      <div class="modal">
        <ion-header-bar class="bar-secondary">
          <h1 class="title">New Emergency</h1>
          <button class="button button-clear button-positive" ng-click="closeNewEmergency()">Cancel</button>
        </ion-header-bar>

        <ion-content>

          <form ng-submit="createEmergency(emergency)">
            <div class="list">
              <label class="item item-input item-stacked-label">
                <span class="input-label">What is your emergency?</span>
                <textarea placeholder="" ng-model="emergency.description"></textarea>
              </label>
            </div>
            <div class="padding">
              <button type="submit" class="button button-block button-positive">Get Help!</button>
            </div>
          </form>

        </ion-content>
      </div>
    </script>

  </body>
</html>
