<body>
  <div class="container">
    <div class="page-header">
      <h1>Drone Dispatch</h1>
    </div>
    <div>
      <p><a href="/operator">Operator</a></p>
      <p><a href="/subscriber#/subscribe">Subscriber</a></p>
    </div>
  </div>
  <footer>
  </footer>
</body>