<body ng-app="droneDispatch">

  <nav class="navbar navbar-default">
    <div class="container-fluid">

      <div class="navbar-header"><a class="navbar-brand" href="/">Drone Dispatch</a></div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class=""><a href="#/emergencies">Emergencies</a></li>
          <li><a href="#/drones">Drones</a></li>
          <!-- <li><a href="#/settings">Settings</a></li> -->
          <!-- <li><a href="/subscriber#/subscribe">Subscribe</a></li> -->
        </ul>
      </div>

    </div>
  </nav>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <ui-view></ui-view>
    </div>
  </div>
  <footer>


  </footer>

</body>