<div class="page-header">
  <h1>
    Emergency #{{emergency.shortcode}}
    <div class="btn-group pull-right" role="group">
      <button type="button" class="btn btn-{{contextualEmergencyStatus(emergency.status)}} dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{emergency.status | uppercase }}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a ng-click="setEmergencyStatus(emergency, 'pending')">Pending</a></li>
        <li><a ng-click="setEmergencyStatus(emergency, 'enroute')">En-Route</a></li>
        <li><a ng-click="setEmergencyStatus(emergency, 'onscene')">On-Scene</a></li>
        <li><a ng-click="setEmergencyStatus(emergency, 'complete')">Complete</a></li>
        <li><a ng-click="setEmergencyStatus(emergency, 'archived')">Archive</a></li>
      </ul>
    </div>
  </h1>
</div>
<div class="row">

  <div class="col-md-4">
    <h3>Caller</h3>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th>Created</th>
          <td>{{emergency.created_at | date: 'medium' }}</td>
        </tr>
        <tr>
          <th>Name</th>
          <td>{{emergency.caller_name}}</td>
        </tr>
        <tr>
          <th>Number</th>
          <td>{{emergency.caller_number}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-4">
    <h3>Emergency</h3>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th>Services Required</th>
          <td>{{emergency.services_required}}</td>
        </tr>
        <tr>
          <th>Description</th>
          <td>{{emergency.description}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-4">
    <h3>
      Drones
      <a href="#/flightplan/new/{{emergency.id}}" class="btn btn-default pull-right"><span class="glyphicon glyphicon-plus"></span> Add</a>
    </h3>
    <table class="table">
      <thead><tr><th>Drone</th><th>Status</th></tr></thead>
      <tbody>
        <tr ng-repeat="flight in emergency.flights"><td>{{flight.drone.name}}</td><td>{{flight.drone.status}}</td></tr>
      </tbody>
    </table>
  </div>

</div>
<div class="row">
  <div class="col-md-7 emergencyPhotosCarousel">
    <h3>Photos</h3>
    <ul rn-carousel rn-carousel-controls="true" rn-carousel-index="emergencyPhotosIndex">
      <li ng-repeat="photo in emergency.photos"><img ng-src="{{photo}}" class="nav-content" /></li>
    </ul>
    <div rn-carousel-indicators ng-if="emergency.photos.length > 1" slides="emergency.photos" rn-carousel-index="emergencyPhotosIndex"></div>
  </div>
  <div class="col-md-5">
    <h3>Map</h3>
    <leaflet center="home_location" markers="markers" height="480px" width="100%" decorations="decorations"></leaflet>
  </div>
</div>