<div class="page-header">
  <h1>
    Emergencies
    <a href="#/emergencies/new" class="btn btn-danger pull-right"><span class="glyphicon glyphicon-plus"></span> Create</a>
  </h1>
</div>

<div class="row">
  <table class="table table-default">
    <thead>
      <tr class="">
        <th class="col-md-3">Pending</th>
        <th class="col-md-3">En-route</th>
        <th class="col-md-3">On-scene</th>
        <th class="col-md-3">Complete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div ng-repeat="em in emergencies | filter: {status: 'pending'}" class="panel panel-default }}" ng-click="openEmergency(em.id)" style="cursor: pointer;">
            <div class="panel-heading">
              <h3 class="panel-title">#{{em.shortcode}}</h3>
            </div>
            <div class="panel-body">
              {{em.created_at | date: 'medium' }}<br>
              {{em.caller_name}}, {{em.caller_number}}
            </div>
          </div>
        </td>
        <td>
          <div ng-repeat="em in emergencies | filter: {status: 'enroute'}" class="panel panel-default }}" ng-click="openEmergency(em.id)" style="cursor: pointer;">
            <div class="panel-heading">
              <h3 class="panel-title">#{{em.shortcode}}</h3>
            </div>
            <div class="panel-body">
              {{em.created_at | date: 'medium' }}<br>
              {{em.caller_name}}, {{em.caller_number}}
            </div>
          </div>
        </td>
        <td>
          <div ng-repeat="em in emergencies | filter: {status: 'onscene'}" class="panel panel-default }}" ng-click="openEmergency(em.id)" style="cursor: pointer;">
            <div class="panel-heading">
              <h3 class="panel-title">#{{em.shortcode}}</h3>
            </div>
            <div class="panel-body">
              {{em.created_at | date: 'medium' }}<br>
              {{em.caller_name}}, {{em.caller_number}}
            </div>
          </div>
        </td>
        <td>
          <div ng-repeat="em in emergencies | filter: {status: 'complete'}" class="panel panel-default }}" ng-click="openEmergency(em.id)" style="cursor: pointer;">
            <div class="panel-heading">
              <h3 class="panel-title">#{{em.shortcode}}</h3>
            </div>
            <div class="panel-body">
              {{em.created_at | date: 'medium' }}<br>
              {{em.caller_name}}, {{em.caller_number}}
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>