<div class="page-header">
  <h1>Add Emergency</h1>
</div>

<form ng-submit="addEmergency()">
  <div class="row">
    <div class="col-md-3 well">

      <h3>Caller</h3>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Name" ng-model="caller_name"></input>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Number" ng-model="caller_number"></input>
      </div>

      <h3>Emergency</h3>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Description" ng-model="description"></input>
      </div>
      <div class="form-group">
        <label>Services Required</label>
        <div class="checkbox"><label><input type="checkbox" ng-model="services_required.police" value="police">Police</label></div>
        <div class="checkbox"><label><input type="checkbox" ng-model="services_required.ambulance" value="ambulance">Ambulance</label></div>
        <div class="checkbox"><label><input type="checkbox" ng-model="services_required.firebrigade" value="firebrigade">Firebrigade</label></div>
        <div class="checkbox"><label><input type="checkbox" ng-model="services_required.roadside_assist" value="roadside_assist">Roadside Assistance</label></div>
        <div class="checkbox"><label><input type="checkbox" ng-model="services_required.nsri" value="nsri">NSRI</label></div>
        <div class="checkbox"><label><input type="checkbox" ng-model="services_required.other" value="other">Other</label></div>
      </div>
      
    </div>
    <div class="col-md-9">
      <div>
        <leaflet center="home_location" markers="markers" height="480px" width="100%"></leaflet>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <br>
      <button type="submit" class="btn btn-primary" button-id="create-only" ng-disabled="!latitude" >Create Emergency</button>
      <button type="submit" class="btn btn-success" button-id="assign-drones" ng-disabled="!latitude" >Assign Drones</button>
      <button type="submit" class="btn btn-danger" button-id="cancel">Cancel</button>
    </div>
  </div>
</form>