<div class="padding">
  <div class="page-header">
    <h1>
      Emergency #{{emergency.shortcode}}
      <div class="btn-group pull-right" role="group">
      </div>
    </h1>
  </div>
  <div class="row">

    <div class="col-md-6">
      <h3>Caller</h3>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>Created</th>
            <td>{{emergency.created_at | date: 'medium' }}</td>
          </tr>
          <tr>
            <th>Name</th>
            <td>{{emergency.caller_name}}</td>
          </tr>
          <tr>
            <th>Number</th>
            <td>{{emergency.caller_number}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-6">
      <h3>Emergency</h3>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>Services Required</th>
            <td>{{emergency.services_required}}</span></td>
          </tr>
          <tr>
            <th>Description</th>
            <td>{{emergency.description}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12 emergencyPhotosCarousel">
      <h3>Photos</h3>
      <ul rn-carousel rn-carousel-controls="true" rn-carousel-index="emergencyPhotosIndex">
        <li ng-repeat="photo in emergency.photos"><img ng-src="{{photo}}" class="nav-content" /></li>
      </ul>
      <div rn-carousel-indicators ng-if="emergency.photos.length > 1" slides="emergency.photos" rn-carousel-index="emergencyPhotosIndex"></div>
    </div>
  </div>
</div>