<div class="padding">
  <div class="page-header">
    <h1>Susbcribe to Emergency</h1>
  </div>
  <div class="row">
    <form ng-submit="subscribeToChannel()">
      <div class="col-md-6">
        <input type="number" class="form-control" placeholder="Shortcode" ng-model="shortcode"></input>
      </div>
      <div class="col-md-3">
        <button class="btn btn-primary">Subscribe</button>
      </div>
    </form>
  </div>
</div>