.emergencyPhotosCarousel {
  ul {
    height: 480px;
    margin-bottom: 0;
    z-index: -1;

    background-color: #ccc;
    background-size: contain;
    background-image: url(/uploaded_photos/no_photo.jpg);
    background-position: center center;
    background-repeat: no-repeat;

    .nav-content {
      display:block;
      margin-left:auto;
      margin-right:auto;
      // for retaining the width width:100%
      /* change to width for fill mode, 90% OK */
      width:100%;
    }
  }
  [rn-carousel-indicators] {
    margin-top: -20px;
    z-index: 1;
    text-align: center;
  }
  .rn-carousel-control {
    font-size: 5em;
    color: white;
    &.rn-carousel-control-prev {
      left: 0.4em;
    }
    &.rn-carousel-control-next {
      right: 0.4em;
    }
  }
}

footer {
  height: 200px;
}

.padding {
  padding: 50px;
}